body{
  background-color: #faeee7;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

div{
  text-align: center;
}

img{
  display: inline-block;
  width: 30%;
}

h1{
    text-align: center;
    margin-top: 70px;
    font-family: Helvetica;
}

ul{
    list-style-type: none;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #33272a;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li{
    float: left;

}

li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffc6c7;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    width: 130px;
    height: 50px;
    padding:10px;
}

.active{
    background-color: #ff8ba7;
    color: #33272a;
  }

  a{
    color: #ff8ba7;
  }

  p{
    color: #33272a;
    font-family: Georgia;
    line-height: 160%;
    font-size: 150%;
    text-align: left;
    margin-left: 17%;
    margin-bottom: 70px;
 }

 h2{
    font-family: Helvetica;
    font-size: 40px;
   }

h3{
    font-family: Helvetica;
    font-size: 30px;
    margin-left: 13%;
    margin-bottom: -15px;
}

/* DEFINIÇÃO DE ID'S*/
/* DEFINIÇÃO DE ID'S*/
/* DEFINIÇÃO DE ID'S*/
/* DEFINIÇÃO DE ID'S*/
/* DEFINIÇÃO DE ID'S*/
/* DEFINIÇÃO DE ID'S*/
/* DEFINIÇÃO DE ID'S*/


#img_01_esp{
  display: inline-block;
  width: 30%;
  margin-bottom: 354px;
}

#img_02_esp{
  display: inline-block;
  width: 30%;
  margin-bottom: 320px;
}

#img_03_esp{
  display: inline-block;
  width: 30%;
  margin-bottom: 300px;
}

#div_id1_pag3{
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #33272a;
  padding: 10px;
  text-align: center;
  height: 100%;
  margin-top: -300px;
}

#h2_id_pag3{
  font-family: Helvetica;
  font-size: 25px;
  margin-left: 90px;
  color: #ffc6c7;
  text-align: left;
}

#p_id01_pag3{
  color: #ffc6c7;
  font-family: Georgia;
  letter-spacing: 2px;
  line-height: 35px;
  font-size: 19px;
  text-align: left;
  margin-left: 90px;
}

#p_id02_pag3{
  color: #ffc6c7;
  font-family: Georgia;
  letter-spacing: 2px;
  line-height: 35px;
  font-size: 18px;
  margin-left: -25px;
  margin-bottom: -10px;
  text-align: center;
}

#img_logozap {
  max-width: 40px;
  max-height: 35px;
  display:block;
  margin: 0 auto;
  margin-right: 89%;
  margin-top: -20px;
}

#img_logoinsta {
  max-width: 4%;
  max-height: 15%;
  position: absolute;
  right: 10px;
  display: block;
  margin: 0 auto;
  margin-right: 91%;
  margin-top: -17px;
}

   #fontid1{
    font-family: Georgia;
    font-size: 35px;
    color: #ffc6c7;
    margin-left: 20px;
  }

  #fontid2{
    font-family: Georgia;
    color: #ffc6c7;
  }
  
  #fontid3{
    font-family: Georgia;
    color: #33272a;
  }
