body{
    font-family:Arial, Helvetica, sans-serif;
    background: #faeee7;
}

.tela-login{
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}

input{
    padding:15px;
    border: none;
    outline: none;
    font-size: 15px;
}

button{
    background-color: #ff8ba7;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

button:hover{
    background-color: #ffa1b7;
    cursor: pointer;
}

h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}