body{
    background-color: #faeee7;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  div{
    text-align: center;
  }
  
  img{
    display: inline-block;
    width: 30%;
  }
  
  h1{
      text-align: center;
      margin-top: 70px;
      font-family: Helvetica;
  }
  
  ul{
      list-style-type: none;
      position: relative;
      z-index: 1;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #33272a;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
  }
  
  li{
      float: left;
  
  }
  
  li a{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #ffc6c7;
      text-align: center;
      padding: 18px 16px;
      text-decoration: none;
      width: 130px;
      height: 50px;
      padding:10px;
  }
  
  .active{
      background-color: #ff8ba7;
      color: #33272a;
    }
  
    a{
      color: #ff8ba7;
    }
  
    p{
      color: #33272a;
      font-family: Georgia;
      letter-spacing: 1px;
      line-height: 42px;
      font-size: 25px;
      text-align: left;
      margin-left: 9%;
      margin-bottom: 30px;
      margin-top: 30px;
   }
  
   h2{
      font-family: Helvetica;
      font-size: 40px;
     }
  
  h3{
      font-family: Helvetica;
      font-size: 30px;
      margin-left: 13%;
      margin-bottom: -15px;
  }
  
  /* DEFINIÇÃO DE ID'S*/
  /* DEFINIÇÃO DE ID'S*/
  /* DEFINIÇÃO DE ID'S*/
  /* DEFINIÇÃO DE ID'S*/
  /* DEFINIÇÃO DE ID'S*/
  /* DEFINIÇÃO DE ID'S*/
  /* DEFINIÇÃO DE ID'S*/
  
  
  #h1_02{
      text-align: left;
      margin-top: 70px;
      margin-bottom: -50px;
      font-family: Helvetica;
      margin-left: 5%;
  }
  
  #h2_02{
      font-family: Helvetica;
      margin-left: 7%;
      font-size: 24px;
      margin-top: 90px;
     }
  
  #div_id1_pag3{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #33272a;
    padding: 10px;
    text-align: center;
    height: 100%;
    margin-top: 300px;
  }
  
  #a_02{
      text-align: left;
      margin-left: 9%;
      font-size: 29px;
      color: #33272a;
      background-color: #ff8ba7;
      font-family: Georgia;
      text-decoration: none;
      border-radius: 7px;
  }
  
  #p_id01_pag3{
      color: #ffc6c7;
      font-family: Georgia;
      letter-spacing: 2px;
      line-height: 35px;
      font-size: 19px;
      text-align: left;
      margin-left: 90px;
    }
    
    #p_id02_pag3{
      color: #ffc6c7;
      font-family: Georgia;
      letter-spacing: 2px;
      line-height: 35px;
      font-size: 18px;
      margin-left: -25px;
      margin-bottom: -10px;
      text-align: center;
    }
  
  #h2_id_pag3{
    font-family: Helvetica;
    font-size: 25px;
    margin-left: 90px;
    color: #ffc6c7;
    text-align: left;
  }
  
  #img_logozap {
    max-width: 40px;
    max-height: 40px;
    display:block;
    margin: 0 auto;
    margin-right: 150px;
    margin-top: -25px;
  }
  
  #img_logoinsta {
    max-width: 40px;
    max-height: 40px;
    position: absolute;
    right: 10px;
    display: block;
    margin: 0 auto;
    margin-right: 100px;
    margin-top: -15px;
  }
  
  #img_01{
    max-width: 550px;
    max-height: 360px;
    display: block;
    margin: 0 auto;
    float: right;
    margin-right: 5%;
    margin-top: -20%;
    }
  
    #img_02{
      max-width: 550px;
      max-height: 360px;
      display: block;
      margin: 0 auto;
      float: right;
      margin-right: 5%;
      margin-top: -20%;
    }
  
  
    #img_03{
      max-width: 550px;
      max-height: 360px;
      display: block;
      margin: 0 auto;
      float: right;
      margin-right: 5%;
      margin-top: -30%;
    }
  
  
     #fontid1{
      font-family: Georgia;
      font-size: 35px;
      color: #ffc6c7;
      margin-left: 20px;
    }
  
    #fontid2{
      font-family: Georgia;
      color: #ffc6c7;
    }
    
    #fontid3{
      font-family: Georgia;
      color: #33272a;
    }
  